<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tom_The_Geek</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark" />
    <script src="https://kit.fontawesome.com/5da8e8a02d.js" crossorigin="anonymous"></script>
    <script src="https://twemoji.maxcdn.com/v/13.0.2/twemoji.min.js" integrity="sha384-wyB/MspSJ/r2bT2kCj44qtsYRYlpzO2oAPhRj5myrWD63dt6qWv4x8AZe7Fl3K3b" crossorigin="anonymous"></script>
    {% block head %} {% endblock %}
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/assets/icons/icon.png" alt="icon" width="28">
            </a>
        </div>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" id="menu-button">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

        <div id="navbarMain" class="navbar-menu">
            <a class="navbar-item" href="/">
                Home
            </a>

            <a class="navbar-item" href="/blog">
                Blog
            </a>

            <a class="navbar-item" href="/projects">
                Projects
            </a>

            <a class="navbar-item" href="/about">
                About
            </a>
        </div>
    </nav>
    <section class="section">
        <div class="container">
        {% block content %} {% endblock %}
        </div>
    </section>

    <script>
        twemoji.parse(document.body, {
            ext: ".svg",
            size: "svg"
        });

        document.getElementById("menu-button").onclick = function() {
            document.getElementById("menu-button").classList.toggle('is-active');
            document.getElementById("navbarMain").classList.toggle('is-active');
        }
    </script>
</body>

</html>
