{% extends "base.html" %}

{% block head %}
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }} - Blog - Tom_The_Geek">
<meta property="og:url" content="{{ current_url }}">
<meta property="og:image" content="https://tomthegeek.ml/assets/icons/icon.png">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ page.title }} - Blog - Tom_The_Geek">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="https://tomthegeek.ml/assets/icons/icon.png">
{% endblock head %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
<p class="subtitle"><strong>{{ page.date }}</strong></p>
{{ page.content | safe }}
{% endblock content %}
